---
title: The Learning Corner
layout: layout.njk
---

<article class="article">
  <header class="article-header">
    <a class="back-link" href="/">← all posts</a>
    <h1>{{ title }}</h1>
  {% if date %}
    <time datetime="{{ date | formatDate('yyyy-LL-dd') }}">{{ date | formatDate("MMMM d, yyyy") }}</time>
  {% endif %}
  </header>
  <div class="markdown">
  {{ content | safe }}
  </div>
</article>
